# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: CaravanWar.INFO
description: "This website is the go to place for everything regarding Caravan War!"
baseurl: "/"
url: "https://caravanwar.info"

# SEO
author: Exodon
twitter:
  card: summary
facebook:
  app_id: 260204067974266
  publisher: 968526653326327
logo: /assets/img/caravanwar.info.png
lang: en_US

defaults:
  - scope:
      path: ""
    values:
      image: /assets/img/ogimage.jpg

# Build settings
markdown: kramdown
theme:
paginate: 5
paginate_path: "/page:num/"
plugins:
  - jekyll-feed
  - jekyll-paginate
  - jekyll-seo-tag

collections:
  posts:
    output: true
    permalink: /article/:year-:month-:day-:title
  challenges:
    output: true
    permalink: /article/:title
  bandits:
    output: true
    permalink: /bandit/:name
  guardians:
    output: true
    permalink: /guardian/:name
  vehicles:
    output: true
    permalink: /vehicle/:name
  addons:
    output: true
    permalink: /addon/:name
  ambush_spells:
    output: true
    permalink: /ambush-spell/:name
  trading_spells:
    output: true
    permalink: /trading-spell/:name
  buildings:
    output: true
    permalink: /building/:name

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
