@font-face {
  font-family: 'Silk_Road_main';
  src:
    url('/assets/fonts/silk_road_main-webfont.woff2') format('woff2'),
    url('/assets/fonts/silk_road_main-webfont.woff') format('woff'),
    url('/assets/fonts/Silk_Road_main.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Silk_Road_main", "Roboto", "Helvetica", "Arial", sans-serif;
}

.cw-color--bone {
  color: #e5d6c1 !important;
}

body {
  background-color: #704e47;
  background-image: url(/assets/img/background.jpg);
  background-repeat: repeat-x;
}

.mdl-layout__header {
  background-color: #4c5c97;
  background-image: url(/assets/img/stripe.jpg) ;
}

.mdl-layout__header img {
  height: 40px;
}

.mdl-layout__drawer-button {
  color: #e5d6c1;
}

.social-btn {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  padding: 0 5px;
}

.social-btn__youtube {
  background-image: url(/assets/img/youtube.png);
}

.social-btn__facebook {
  background-image: url(/assets/img/facebook.png);
}

.social-btn__discord {
  background-image: url(/assets/img/discord.png);
}

.mdl-grid {
  max-width: 920px;
}

.article-list img {
  width: 100%;
}

.article-list a {
  text-decoration: none;
}

.paginator {
  display: flex;
}

.paginator--page_number {
  flex-grow: 1;
  text-align: center;
  color: #fff;
  padding: 5px 0;
}

.article__title {
  font-size: 46px;
  font-weight: 300;
}

.article__content,
.article__meta {
  max-width: 640px;
  margin: 0 auto;
}

.article__image {
  width: 100%;
}

.article__content h1,
.article__content h2,
.article__content h3,
.article__content h4,
.article__content h5 {
  margin: 20px 0 15px;
  font-size: 28px;
  font-weight: 300;
}

.article__content > p {
  font-size: 16px;
}

.article__content blockquote * {
  display: inline;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
}

.article__content ol {
  padding: 10px 0;
  list-style: none;
}

.article__content li {
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: .04em;
  line-height: 1;
  padding: 16px;
}

.article__content img {
  max-width: 100%;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),
              0 3px 1px -2px rgba(0,0,0,.2),
              0 1px 5px 0 rgba(0,0,0,.12);
}

.article__actions {
  text-align: right;
}
