---
layout: default
---

{%- assign nameslug = page.name | slugify -%}
{%- assign cardData = site.data.bandits[nameslug] -%}
{%- assign level = 1 -%}
{%- assign levelHP = cardData.health_points -%}
{%- assign levelDamage = cardData.damage -%}

<div class="mdl-grid">
  <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col">
    <div class="mdl-card__media card-media ta--center">
      <img class="m--h-10" src="{{ page.image }}" alt="{{ page.name }}">
      <h1>{{ page.name }}</h1>
    </div>
    <div class="mdl-card__supporting-text article__content">
      {{ content }}

      <h5>Base stats</h5>
      <table class="mdl-data-table mdl-js-data-table">
        <tbody>
          <tr>
            <td class="mdl-data-table__cell--non-numeric">Rarity</td>
            <td>{{ page.rarity }}</td>
          </tr>
          <tr>
            <td class="mdl-data-table__cell--non-numeric">Armor</td>
            <td>{{ cardData.armor }}</td>
          </tr>
          <tr>
            <td class="mdl-data-table__cell--non-numeric">Armor Piercing</td>
            <td>{{ cardData.armor_piercing }}</td>
          </tr>
          <tr>
            <td class="mdl-data-table__cell--non-numeric">Attack Speed</td>
            <td>{{ cardData.attack_speed }}</td>
          </tr>
          <tr>
            <td class="mdl-data-table__cell--non-numeric">Attack Range</td>
            <td>{{ cardData.attack_range }}</td>
          </tr>
          <tr>
            <td class="mdl-data-table__cell--non-numeric">Move Speed</td>
            <td>{{ cardData.move_speed }}</td>
          </tr>
          <tr>
            <td class="mdl-data-table__cell--non-numeric">Target Ground</td>
            <td>
              {%- if target_ground -%}
                <i class="material-icons">check</i>
              {%- else -%}
                <i class="material-icons">block</i>
              {%- endif -%}
            </td>
          </tr>
          <tr>
            <td class="mdl-data-table__cell--non-numeric">Target Air</td>
            <td>
              {%- if target_air -%}
                <i class="material-icons">check</i>
              {%- else -%}
                <i class="material-icons">block</i>
              {%- endif -%}
            </td>
          </tr>
          <tr>
            <td class="mdl-data-table__cell--non-numeric">Flying</td>
            <td>
              {%- if flying -%}
                <i class="material-icons">check</i>
              {%- else -%}
                <i class="material-icons">block</i>
              {%- endif -%}
            </td>
          </tr>
          <tr>
            <td class="mdl-data-table__cell--non-numeric">Army Points</td>
            <td>{{ cardData.army_points }}</td>
          </tr>
          <tr>
            <td class="mdl-data-table__cell--non-numeric">Recover Time</td>
            <td>{{ cardData.recover_time }} sec.</td>
          </tr>
        </tbody>
      </table>

      <h5>Level stats</h5>
      <table class="mdl-data-table mdl-js-data-table">
        <thead>
          <tr>
            <th style="width: 50px;">lvl</th>
            <th>HP</th>
            <th>Damage</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ level }}</td>
            <td>{{ cardData.health_points | thousands_separated }}</td>
            <td>{{ cardData.damage | thousands_separated }}</td>
          </tr>
          {%- for lvl in cardData.levels -%}
            {%- assign level = level | plus:1 -%}
            {%- assign levelHP = levelHP | plus:lvl.health_points -%}
            {%- assign levelDamage = levelDamage | plus:lvl.damage -%}
            <tr>
              <td>{{ level }}</td>
              <td>{{ levelHP | thousands_separated }}</td>
              <td>{{ levelDamage | thousands_separated }}</td>
            </tr>
          {%- endfor -%}
        </tbody>
      </table>
    </div>
  </div>
</div>
