<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/css/normalize.css">
  <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body>
  <header class="header">
    <h1>CaravanWar.INFO</h1>
    <nav class="nav">
      <li><a href="/">Home</a></li>
      <li><a href="/guides">Guides</a></li>
      <li><a href="/challenges">Challenges</a></li>
      <li><a href="/guild-championship">Guild Championship</a></li>
      <li><a href="/wiki">Wiki</a></li>
    </nav>
  </header>

  <main class="main">
    {{ content }}
  </main>

  <footer class="footer">
    <p><small>© 2018-2019 CaravanWar.info | ALL RIGHTS RESERVED</small></p>
    <p><small>Caravan War is Copyright Hiker Games 2017-2018 | www.caravanwar.com</small></p>
  </footer>
</body>
</html>
